/*_qs MOBILE FIRST*/
/* QUIENES SOMOS */
.h1qs{
    text-align: center;
    margin-top: 50px;
}

.qs{
    font-size: 15px;
    margin: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
}