/*_body-cont MOBILE FIRST*/
/* CONTACTANOS */
.h1con{
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: center;
}

.h2con{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.elementoscon{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}